<h1>Post Parser</h1>

<ul class="menu">
  <li>Top Posts <input type="radio" name="posts" value="top" ng-model="postDisplay"></li>
  <li>Daily Top Posts <input type="radio" name="posts" value="daily" ng-model="postDisplay"></li>
  <li>Other Posts <input type="radio" name="posts" value="other" ng-model="postDisplay"></li>
  <li>Posts Summary <input type="radio" name="posts" value="summary" ng-model="postDisplay"></li>
</ul>



<ul>
  <li ng-repeat='post in posts.topPosts' ng-hide="postDisplay != 'top'">
    <div class="post-title">
      Post # - {{post.id}} | {{post.title}}
    </div>
    <div class="post-body">
      Views - {{post.views}} | Comments - {{post.comments}} | Likes - {{post.likes}}
    </div>
  </li>
  <li ng-repeat='post in posts.dailyPosts' ng-hide="postDisplay != 'daily'">
    <div class="post-title">
      Post # - {{post.id}} | {{post.title}}
    </div>
    <div class="post-body">
      Views - {{post.views}} | Comments - {{post.comments}} | Likes - {{post.likes}}
    </div>
  </li>
  <li ng-repeat='post in posts.otherPosts' ng-hide="postDisplay != 'other'">
    <div class="post-title">
      Post # - {{post.id}} | {{post.title}}
    </div>
    <div class="post-body">
      Views - {{post.views}} | Comments - {{post.comments}} | Likes - {{post.likes}}
    </div>
  </li>
  <li ng-repeat='post in posts.summaryPosts' ng-hide="postDisplay != 'summary'">{{post}}</li>

</ul>
